.display-5{
    
    text-shadow: 2px 2px 2px rgb(0 0 0 / 10%);
    
        font-weight: 700 !important;
        text-align: center !important;
        
        color: #fff !important;
        

    

}